# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
**/run/**
run-data
generated

# Epic Fight as Akythera project
!akythera_projects
!**/akythera_projects/**

repo
.kotlin
.DS_STORE
.vscode
.claude